QPushButton#pushButton {
    background-image: url(./img/shadow/close.png);
    background-color: rgb(36, 41, 46);
    /*border-top-left-radius:2px;*/
    /*border-top-right-radius:2px;*/
    /*background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop:0 rgb(36 ,41 ,46));*/
    /*border:1px;*/
    /*border-radius:5px;padding:2px 4px;!*border-radius控制圆角大小*!*/
}
QPushButton#pushButton:hover {
    background-image: url(./img/shadow/close_hover.png);
    background-color: rgb(232, 17, 35);
}
QPushButton#pushButton:pressed {
    background-image: url(./img/shadow/close.png);
}

QPushButton#pushButton_2 {
    background-image: url(./img/shadow/turn_big.png);
    background-color: rgb(36, 41, 46);
}
QPushButton#pushButton_2:hover {
    background-image: url(./img/shadow/turn_big_hover.png);
    background-color: rgb(136, 136, 136);
}
QPushButton#pushButton_2:pressed {
    background-image: url(./img/shadow/turn_big.png);
}

QPushButton#pushButton_3 {
    background-image: url(./img/shadow/turn_small.png);
    background-color: rgb(36, 41, 46);
}
QPushButton#pushButton_3:hover {
    background-image: url(./img/shadow/turn_small_hover.png);
    background-color: rgb(136, 136, 136);
}
QPushButton#pushButton_3:pressed {
    background-image: url(./img/shadow/turn_small.png);
}

QPushButton#pushButton_4 {
    background-image: url(./img/shadow/icon.png);
    background-color: rgb(36, 41, 46);
}
QPushButton#pushButton_5 {
    background-image: url(./img/shadow/book.png);
    background-color: rgb(36, 41, 46);
}
QPushButton#pushButton_6 {
    background-image: url(./img/shadow/icon.png);
    background-color: rgb(36, 41, 46);
}
QPushButton#pushButton_7 {
    background-image: url(./img/shadow/icon.png);
    background-color: rgb(36, 41, 46);
}
#line{border-top: 4px solid #000000;}

#columnView{
    background-color: rgb(36, 41, 46);
    border: 0px;
    border-right: 1px solid #000000;
}

#columnView_2{
    background-color: rgb(36, 41, 46);
    border: 0px;
    border-left: 4px solid #000000;
}

#comboBox{
    background-color: rgb(36, 41, 46);
    border: 0px;
    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox::down-arrow {
    image: none;
}
#comboBox::drop-down {
    border:none;
    background:transparent;
}
#comboBox_2{
    background-color: rgb(36, 41, 46);
    border: 0px;
    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox_2::down-arrow {
    image: none;
}
#comboBox_2::drop-down {
    border:none;
    background:transparent;
}
#comboBox_3{
    background-color: rgb(36, 41, 46);
    border: 0px;
    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox_3::down-arrow {
    image: none;
}
#comboBox_3::drop-down {
    border:none;
    background:transparent;
}
#comboBox_4{
    background-color: rgb(36, 41, 46);
    border: 0px;
    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox_4::down-arrow {
    image: none;
}
#comboBox_4::drop-down {
    border:none;
    background:transparent;
}
#comboBox_5{
    background-color: rgb(36, 41, 46);
    border: 0px;
    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox_5::down-arrow {
    image: none;
}
#comboBox_5::drop-down {
    border:none;
    background:transparent;
}
#comboBox_6{
    background-color: rgb(36, 41, 46);
    border: 0px;
    border-left: 4px solid #000000;
    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox_6::down-arrow {
    image: url(./img/shadow/down.png);
}
#comboBox_6::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: center right;
    border: none;
    width: 80px;
    height: 30px;
}
#comboBox_7{
    background-color: rgb(36, 41, 46);
    border: 0px;
    border-left: 4px solid #000000;
    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox_7::down-arrow {
    image: url(./img/shadow/down.png);
}
#comboBox_7::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: center right;
    border: none;
    width: 80px;
    height: 30px;
}
#comboBox_8{
    background-color: rgb(36, 41, 46);
    border: 0px;

    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox_8::down-arrow {
    image: url(./img/shadow/down.png);
}
#comboBox_8::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: center right;
    border: none;
    width: 80px;
    height: 30px;
}
