QPushButton#pushButton {
    background-image: url(./img/shadow/close.png);
    background-color: rgb(36, 41, 46);
    /*border-top-left-radius:2px;*/
    /*border-top-right-radius:2px;*/
    /*background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop:0 rgb(36 ,41 ,46));*/
    /*border:1px;*/
    /*border-radius:5px;padding:2px 4px;!*border-radius控制圆角大小*!*/
}
QPushButton#pushButton:hover {
    background-image: url(./img/shadow/close_hover.png);
    background-color: rgb(232, 17, 35);
}
QPushButton#pushButton:pressed {
    background-image: url(./img/shadow/close.png);
}

QPushButton#pushButton_2 {
    background-image: url(./img/shadow/turn_big.png);
    background-color: rgb(36, 41, 46);
}
QPushButton#pushButton_2:hover {
    background-image: url(./img/shadow/turn_big_hover.png);
    background-color: rgb(136, 136, 136);
}
QPushButton#pushButton_2:pressed {
    background-image: url(./img/shadow/turn_big.png);
}

QPushButton#pushButton_3 {
    background-image: url(./img/shadow/turn_small.png);
    background-color: rgb(36, 41, 46);
}
QPushButton#pushButton_3:hover {
    background-image: url(./img/shadow/turn_small_hover.png);
    background-color: rgb(136, 136, 136);
}
QPushButton#pushButton_3:pressed {
    background-image: url(./img/shadow/turn_small.png);
}

QPushButton#pushButton_4 {
    background-image: url(./img/shadow/icon.png);
    background-color: rgb(36, 41, 46);
}
QPushButton#pushButton_5 {
    background-image: url(./img/shadow/book.png);
    background-color: rgb(36, 41, 46);
}
QPushButton#pushButton_6 {
    background-image: url(./img/shadow/world.png);
    background-color: rgb(36, 41, 46);
}
QPushButton#pushButton_7 {
    background-image: url(./img/shadow/for.png);
    background-color: rgb(36, 41, 46);
}
QPushButton#pushButton_8 {
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-bottom: 4px solid #DDDDDD;
    font: 75 8pt "Arial";
}
QPushButton#pushButton_8:hover {
    background-color: rgb(225, 228, 232);
    border-bottom: 4px solid #0066FF;
}
QPushButton#pushButton_8:pressed {
    background-image: url(./img/shadow/turn_small.png);
}
QPushButton#pushButton_9 {
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-bottom: 4px solid #DDDDDD;
    border-left: 4px solid #DDDDDD;
    font: 75 8pt "Arial";
}
QPushButton#pushButton_9:hover {
    background-color: rgb(225, 228, 232);
    border-bottom: 4px solid #0066FF;
}
QPushButton#pushButton_9:pressed {
    background-image: url(./img/shadow/turn_small.png);
}
QPushButton#pushButton_10 {
    background-image: url(./img/shadow/block.png);
    background-color: rgb(240, 240, 240);
    border: 2px solid #FFCC99;
    border-radius: 8px
}
QPushButton#pushButton_11 {
    background-color: rgb(99, 160, 228);
    border-radius: 8px
}
#line{border-top: 4px solid #000000;}

#columnView{
    background-color: rgb(36, 41, 46);
    border: 0px;
    border-right: 1px solid #000000;
}

#columnView_2{
    background-color: rgb(36, 41, 46);
    border: 0px;
    border-left: 4px solid #000000;
}
#columnView_3{
    background-image: url(./img/shadow/bgi.png);
    background-color: rgb(246, 248, 250);
    border: 0px;
    border-left: 4px solid #C0C0C0;
}
#columnView_4{
    background-color: rgb(246, 248, 250);
    border: 0px;
}
#columnView_5{
    background-image: url(./img/shadow/talk.png);
    border: 0px;
}
#comboBox{
    background-color: rgb(36, 41, 46);
    border: 0px;
    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox:hover{
    background-color: rgb(47, 54, 61);
}
#comboBox::down-arrow {
    image: none;
}
#comboBox::drop-down {
    border:none;
    background:transparent;
}
#comboBox_2{
    background-color: rgb(36, 41, 46);
    border: 0px;
    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox_2:hover{
    background-color: rgb(47, 54, 61);
}
#comboBox_2::down-arrow {
    image: none;
}
#comboBox_2::drop-down {
    border:none;
    background:transparent;
}
#comboBox_3{
    background-color: rgb(36, 41, 46);
    border: 0px;
    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox_3:hover{
    background-color: rgb(47, 54, 61);
}
#comboBox_3::down-arrow {
    image: none;
}
#comboBox_3::drop-down {
    border:none;
    background:transparent;
}
#comboBox_4{
    background-color: rgb(36, 41, 46);
    border: 0px;
    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox_4:hover{
    background-color: rgb(47, 54, 61);
}
#comboBox_4::down-arrow {
    image: none;
}
#comboBox_4::drop-down {
    border:none;
    background:transparent;
}
#comboBox_5{
    background-color: rgb(36, 41, 46);
    border: 0px;
    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox_5:hover{
    background-color: rgb(47, 54, 61);
}
#comboBox_5::down-arrow {
    image: none;
}
#comboBox_5::drop-down {
    border:none;
    background:transparent;
}
#comboBox_6{
    background-color: rgb(36, 41, 46);
    border: 0px;
    border-left: 4px solid #000000;
    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox_6:hover{
    background-color: rgb(47, 54, 61);
}
#comboBox_6::down-arrow {
    image: url(./img/shadow/down.png);
}
#comboBox_6::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: center right;
    border: none;
    width: 80px;
    height: 30px;
}
#comboBox_7{
    background-color: rgb(36, 41, 46);
    border: 0px;
    border-left: 4px solid #000000;
    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox_7:hover{
    background-color: rgb(47, 54, 61);
}
#comboBox_7::down-arrow {
    image: url(./img/shadow/down.png);
}
#comboBox_7::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: center right;
    border: none;
    width: 80px;
    height: 30px;
}
#comboBox_8{
    background-color: rgb(36, 41, 46);
    border: 0px;

    color:rgb(149, 157, 165);
    font: 75 10pt "微软雅黑";
}
#comboBox_8:hover{
    background-color: rgb(47, 54, 61);
}
#comboBox_8::down-arrow {
    image: url(./img/shadow/down.png);
}
#comboBox_8::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: center right;
    border: none;
    width: 80px;
    height: 30px;
}
#label{
    font: 75 10pt "微软雅黑";
    subcontrol-origin: content;
}
#textEdit{
    border: 3px solid #C0C0C0;
    border-radius: 8px;
    font: 75 10pt "微软雅黑";
}